<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Songr</title>
</head>
<body>
<h1>Songr</h1>
<h2>Welcome to Chill and Vibe</h2>
<a href="http://localhost:8080/albums">See Albums</a>
<a href="http://localhost:8080/albums"><img src="/img/headphones.jpg"></a>
<div>Photo by <a href="https://unsplash.com/@leecampbell?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lee  Campbell</a> on <a href="https://unsplash.com/s/photos/headphones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></div>


</body>
</html>