<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<span  th:each="song : ${songs}"/>
    <br><div th:text="${'Song Title: ' + song.name}"> Song Name</div>
    <br><div th:text="${'Song Length: ' + song.length}"> Song Length</div>
    <br><div th:text="${'Track Number: ' + song.trackNumber}">Song Track Number</div>
<br><br>
</body>
</html>