<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Songr: Album Songs</title>
</head>

<body>
<h1 th:text="${'Songs on ' + album}"></h1>
<br><br>
<a href="/albums">Back to Albums</a>
<br><br>
<span  th:each="song : ${songs}">
<br><div th:text="${'Song Title: ' + song.title}"> Song Name</div>
<br><div th:text="${'Song Length: ' + song.length}"> Song Length</div>
<br><div th:text="${'Track Number: ' + song.trackNumber}">Song Track Number</div>
<br><br>
</span>
<form action="/addSong" method="post">
    <fieldset>
        <legend>Add a Song</legend>
        <br><input type="hidden" name="albumId" th:value="${albumId}">
        <br><label for="title">Title</label>
        <br><input type="text" name="title" placeholder="Song Title">
        <br><label for="length">Length</label>
        <br><input type="text" name="length"placeholder="Seconds">
        <br><label for="trackNumber">Track Number</label>
        <br> <input type="text" name="trackNumber" placeholder="# of Track">
        <br><input type="submit" value="Add Song">
    </fieldset>
</form>

</body>
</html>